@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: "gothic";
    src: url("../fonts/AvantGardeGothic.ttf");
   }

* {
  margin: 0;
  padding: 0;
  font-family: 'Pollock1CTT', arial;
}

body {
  background: url("../img/bo_play_pattern.png");
}

span, a, p {
  color: #fff;
  text-decoration: none !important;
  font-size: 16px;
}

ul {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #1d1d1b  url("../img/header.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100px;
}

header ul {
  padding-left: 150px;
  padding-top: 15px;
}

header ul li {
  position: relative;
  display: inline-block;
  min-width: 240px;
  vertical-align: middle;
}

header span.price {
  background-color: #e00613;
  padding: 1px 8px;
  border-radius: 2px;
}

img.star {
  position: absolute;
  right: 0;
  top: 10px;
  max-width: 30px;
}

img.clock {
  max-width: 35px;
  float: left;
}

img.logo {
  max-width: 120px;
}

img.cart {
  max-width: 45px;
  float: left;
}

a.tel {
  color: #fff;
  font-size: 22px;
  transition: 0.25s;
}

a.tel:hover {
  color: #e00613;
}

span.redLabel {
  color: #e00613;
  display: block;
  font-size: 20px;
}

.cat {
  background: #B50C11 url("../img/bg.jpg") no-repeat;
  background-size: 100%;
  padding-bottom: 40px;
}

.cat .container {
  padding: 25px 100px;
}

img.line {
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.cat h2 {
  color: #fff;
  font-size: 54px;
  text-transform: uppercase;
  font-family: 'CrashCTT', arial;
}

.cat ul li {
  display: inline-block;
  max-width: 230px;
  margin-right: 15px;
  margin-bottom: 35px;
  position: relative;
}

.cat ul li img.item {
  max-width: 100%;
}

.cat ul li:nth-of-type(4n) {
  margin-right: 0;
}

img.pizza {
  position: absolute;
  top: 8px;
  left: 0;
  max-width: 102%;
  cursor: pointer;
  -webkit-animation: loop 10s linear 0s infinite normal;
  -moz-animation: loop 10s linear 0s infinite normal;
  animation: loop 10s linear 0s infinite normal;
 -webkit-animation-play-state: paused;
 -moz-animation-play-state: paused;
  animation-play-state: paused;
}

img.pizza:hover {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}

.cat .description {
  position: absolute;
  left: 0;
  top: 53%;
  padding: 0 15px;
  height: 218px;
}

.cat span.name {
  color: #e00613;
  text-transform: uppercase;
  font-size: 24px;
}

.cat span.composition {
  display: block;
  font-family: 'gothic', sans-serif;
  font-size: 14px;
}

.cat span.price,
.cat span.price-center {
  position: absolute;
  left: 45px;
  bottom: 5px;
  font-size: 19px;
}

.cat span.price-center {
  left: 95px;
}

.cat p.weight-left {
  position: absolute;
  left: 22px;
  bottom: 40px;
  font-size: 16px;
  width: 95px;
  text-align: center;
  cursor: pointer;
}

.cat p.weight-left {
  border: 1px solid #454545;
  border-radius: 25px 0 0 25px;
}
.cat p.weight-right {
  border: 1px solid #454545;
  border-radius: 0 25px 25px 0;
}

.cat p.weight-left.selected {
  background-color: #e70616;
}

.cat p.weight-right.selected {
  background-color: #e70616;
}

.cat p.weight-center.selected {
  background-color: #e70616;
}

.cat p.weight-left span,
.cat p.weight-right span,
.cat p.weight-center span {
  display: block;
  font-size: 12px;
  font-family: 'gothic', sans-serif;
}

.cat p.weight-right {
  position: absolute;
  right: 19px;
  bottom: 40px;
  font-size: 16px;
  width: 95px;
  text-align: center;
  cursor: pointer;
}

/*.cat .drinks span.price {
  bottom: 15px;
}*/

.cat .drinks p.weight-center {
  position: absolute;
  left: 60px;
  width: 110px;
  border: 1px solid #454545;
  border-radius: 25px;
  text-align: center;
}

.cat .drinks p.weight-left,
.cat .drinks p.weight-right,
.cat .drinks p.weight-center {
  bottom: 45px;
}

img.drink {
  max-width: 230px;
  height: 265px;
  margin: 0 auto;
  display: block;
}
.drinks li {
  width: 230px;
  height: 355px;
  background: #1C1C1A;
  border-radius: 10px;
}

p.delivery:first-child {
  font-size: 16px;
}

p.delivery:last-child {
  font-size: 22px;
}

footer {
  background: #1d1d1b  url("../img/footer.jpg") no-repeat;
  background-size: 100% 100%;
  height: 200px;
}

footer ul {
  padding-top: 25px;
  padding-left: 150px;
}

footer ul li {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #5f5f5f;
  height: 146px;
  padding: 0 25px;
}

footer ul li:nth-child(2) {
  padding-top: 15px
}

footer ul li:nth-child(3),
footer ul li:nth-child(4) {
  padding-top: 10px;
}

footer ul li:last-child {
  border: none;
}

img.logo2 {
  max-width: 150px;
}

footer img.card {
  max-width: 65px;
  margin-bottom: 8px;
  display: block;
}

footer .social i {
  border-radius: 50%;
  background-color: #fff;
  color: #1d1d1b;
  font-size: 28px;
  padding: 7px 9px;
  transition: 0.25s;
  margin-bottom: 8px;
}

footer .social i:hover {
  background-color: #e00613;
  color: #fff;
}

footer .social  i.fa-vk {
  padding: 8px 7px;
}

footer p.mail {
  max-width: 195px;
  font-size: 14px;
  font-family: 'gothic', sans-serif;
}

footer a.mail {
  transition: 0.25s;
  font-size: 21px;
}

footer a.mail:hover {
  color: #e00613;
}

.narrow-head {
  display: none;
  padding: 5px 40px;
}

header img.small {
  display: none;
}

.modal-content {
  background: url("../img/bo_play_pattern.png");
  background-color: #333;
}

.callback h2 {
  margin: 15px auto;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.callback input {
  padding: 10px 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
  display: block;
  font-size: 20px;
  border-radius: 6px;
}

.callback input:focus {
  outline: none;
  border-color: #e70616;
  box-shadow: 0 0 6px #e70616;
}

.callback input[type="submit"] {
  width: 150px
}

.modal-open .modal {
  overflow-y: scroll;
}

.order-btn {
  visibility: visible;;
  opacity: 1;
  padding: 18px 25px;
  border: 0;
  border-radius: 6px;
  color: #fff;
  background: url("../img/bo_play_pattern.png");
  font-family: 'CrashCTT', arial;
  font-size: 24px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: fixed;
  top: 45%;
  right: -62px;
  box-shadow: 0 0 10px #e70616;
  transition: 0.25s;
}

.order-btn:hover {
  text-shadow: 3px -2px 2px rgba(234, 99, 99, 1);
}

.disabled {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 768px;
  }

  header {
    height: 160px;
  }

  img.star {
    position: static;
    margin-right: 5px;
  }

  img.cart {
    max-width: 65px;
  }

  header ul li {
  min-width: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  }

  header ul li:last-child .redLabel {
    font-size: 26px;
  }

  header a.tel {
    padding-left: 30px;
  }

  header img.logo2 {
    display: block;
    margin: 0 auto;
  }

  header img.small {
    display: none;
  }

  .wide-head {
    display: none;
  }

  header span.price {
    font-size: 20px;
  }

  .narrow-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  }

  .cat .container {
    padding: 0 10px;
  }

  .cat ul li {
    margin: 0px 9.1%;
    margin-bottom: 35px;
  }

  footer ul {
    padding-left: 0;
  }

  footer img.logo2 {
    max-width: 120px;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }

  header img.small {
    display: block;
  }

  .large {
    display: none;
  }

  .banner {
    display: none;
  }

  .cat ul li,
  .cat ul li:nth-of-type(4n) {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  header .narrow-head {
    padding: 5px 0;
  }

  header .narrow-head li:first-child div:last-child {
    margin-top: 8px;
  }

  header .narrow-head li:first-child div:first-child {
    margin-top: 6px;
  }

  header img.logo2 {
    max-width: 75px;
    margin: 0;
  }

  img.cart {
    width: 55px;
  }

  header span.redLabel,
  header ul li:last-child .redLabel {
    font-size: 16px;
  }

  a.tel {
    font-size: 16px;
  }

  footer ul li {
    padding: 5px;
    border: 0;
    margin-right: 5%;
  }

  footer ul li:last-child {
    margin-right: 0;
  }

  header ul li {
    min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
  }
}
